body{
margin: 0;
font-family: 'Handlee';
}
#open-menu, #close-menu{
  position: absolute;
  font-size: 300%;
}
#close-menu{
  left: 80%;
  color: white;
  top: 10%;
}

#open-menu{
  left: 5%;
	color: white;
	top: 20%;
}

aside{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 100;
  background-color: #F15A29;
  left: -100%;

}

#the-menu{
  list-style: none;
}
#the-menu li{
  padding: 15%;
  font-size: 200%;
  text-transform: uppercase;
}
#the-menu a{
  color: white;
}
.jumbotron{
	background-image: url("../img/backgrounds/landing.jpg");
	height: 100vh;
	width:100%;
	background-repeat: no-repeat;
	background-size:cover;
	display: flex;
	justify-content:center;
	align-items:center;
	background-attachment: fixed;
	padding: 0px;
	margin: 0px;
	border: none;
}
.jumbotron2{
	background-image: url("../img/backgrounds/subscribe.jpg");
	height: 30vh;
	width:100%;
	padding: 0px;
	background-repeat: no-repeat;
	background-size:cover;
	background-attachment: fixed;
	justify-content:center;
	align-items:center;
	margin: 0%;
  margin-top: 7%;
	padding: 0px;
	border: none;
}

#header{
	font-size: 40px;
	color: white;
}
.txtt {
	padding-top: 50px;
	padding-left: 80px;
	color: white;
	font-size:40px;
}
.txt{
	padding-top: 50px;
	padding-left: 80px;
	color:black;
	font-size:40px;
}
.txttt {
	padding-top: 90px;
	padding-left: 110px;
	color: white;
	font-size:40px;
}
.clr{
	background-color:#F15A29;
}
.lngth{
	height: 143px;
	width:100%;
}
.padding-0{
	padding: 0px;
	margin: 0px;
	border: none;
	padding-right: 0px;
}
.padding-01{
	margin-right: 20px;
	margin-left: 20px;
	padding-left: 100px;
	padding-right: 100px;
}
.padding-02{
  padding: 10px;
	margin: 0px;
	border: none;
	padding-right: 0px;

  -webkit-box-shadow: 1px 7px 34px -5px rgba(0,0,0,1);
  -moz-box-shadow: 1px 7px 34px -5px rgba(0,0,0,1);
  box-shadow: 1px 7px 34px -5px rgba(0,0,0,1);
  border-style: solid;
  border-color: transparent;
  margin-top: 7%;
  width: 530px;
}



.border{
	-webkit-box-shadow: 1px 7px 34px -5px rgba(0,0,0,1);
	-moz-box-shadow: 1px 7px 34px -5px rgba(0,0,0,1);
	box-shadow: 1px 7px 34px -5px rgba(0,0,0,1);
	border-style: solid;
	border-color: transparent;
	margin-top: 7%;
	padding-right: 20px;
	padding-left: 20px;
}
.brd{
		margin-top: 10%;
		padding: 0px;
		width: auto;
		height: auto;
		max-width: 100%;
		max-height: 100%;
		float: right;
}
.myclass {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
	margin: 0px;
	padding: 20px;
}
.bg{
	padding: 0;
	height: 600px;
	width:100%;
	background-image: url(../img/backgrounds/foodsBg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.btnn {
	background-color: white;
	color: #F15A29;
	border: 1px solid #F15A29;
	padding: 14px;
}
#bord{
	 padding-left:20px;
	 border-left: 1px solid #ccc;
	 text-align: center;
}
.form2{
	margin: 20px;
	background-color:#F15A29;
	display:inline-block;
	color:#ffffff;
	font-size:28px;
	font-weight: 500;
	padding:6px 50px;
	border-radius: 5px;
}
.form1 {
	text-align: center;
	margin: 20px;
	background:rgba(250,250,250,0.5);
	padding: 6px;
	width: 50%;
	margin-bottom: 20px;
	border-bottom-width: 1px;
	border-bottom-color: #ecf0f1;
	font-size: 28px;
	font-weight: 100;
	color: #ffffff;
	border-radius: 5px;
}
#text6{
	 text-align: center;
	 color: white;
}
footer{
	background-color: #F15A29;
	padding-top: 3rem;
}
.container-fluid1{
	  padding-right: 0px;
	  padding-left: 0px;
	  margin-right: 0px;
	  margin-left: 0px;
		margin: 0px;
		padding: 0px;
}
.overlay-mini {
		position: absolute;
		bottom: 0;
		right: 0;
		background:rgba(0,0,0,0.0);
		overflow: hidden;
		width: 100%;
		height: 100%;
		transition: .5s ease;
}

.overlay-mini:hover {
		position: absolute;
		bottom: 0;
		right: 0;
		background:rgba(250,250,250,0.5);
		overflow: hidden;
		width: 100%;
		height: 100%;
		transition: .5s ease;
}
.padding-0:hover .txttt{
	color: #000000;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}
#foods{
  background-image: url("../img/backgrounds/foodsBg.jpg");
  height: 60vh;
  background-attachment: fixed;
  width: 100%;
  margin-top: 7%;
}
#foods .tab{
  position: relative;
  border: 1px;
  border-color: inherit;
}
/* Style buttons that are used to open the tab content */
.tab button {
text-align: center;
background-color: inherit;
    width:70%
    float: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}


/* Style the tab content */
.tabcontent {
  background-color: white;
  width: 79.2%;
  margin-left: 15px;

}
.padding04{
  padding-left: 80px;
  font-size: 20px;
  margin-left: 270px;
}
#padding04{
    font-size: 20px;
}
.img-set img {
  width: auto;
  padding-left: 10px;
  padding-right: 50px;
}
#move{
  margin-left: 18%;
}
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 80.8%;

}
figcaption{
  color: #F15A29;
  text-align: center;
}

.meal1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.meals {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25%;
  float: left;
}
.section2 {
  width: 95%;

}
#Breakfast {
  background-image: url("../images/foodtop/breakfast.jpg");

}
#Lunch {
  background-image: url("../images/foodtop/lunch.jpg");
}
#Dinner {
  background-image: url("../images/foodtop/dinner.jpg");
}
#Happy-Hour {
  height: 50%;
  background-color: #ccc;
}
#Party-Time {
  height: 50%;
  background-color: #F15A29;

}
.extra {
  width:25%;
  height: 25%;
  float: left;
}
#pdn{
  padding-left: 20px;
}
